<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>uhu_copyright</name>
            <displayName><![CDATA[uhu Copyright block]]></displayName>
            <version><![CDATA[4.16.4]]></version>
            <description><![CDATA[Add a block to add coprright information.]]></description>
            <author><![CDATA[uhuPage]]></author>
            <tab><![CDATA[others]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>