<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>uhu_gj_9551</name>
            <displayName><![CDATA[uhu Advertising block 9551]]></displayName>
            <version><![CDATA[4.16.07]]></version>
            <description><![CDATA[Adds a block to display five advertisements.]]></description>
            <author><![CDATA[uhuPage]]></author>
            <tab><![CDATA[others]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>